<div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Employees</h4>
    </div>

    <!-- employees table -->
    <form>
      <div class="mb-3 row">
        <label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Full text search:</label>
        <div class="col-xs-3 col-sm-auto">
          <input id="table-complete-search" type="text" class="form-control" name="searchTerm"
            [(ngModel)]="employeeService.searchTerm" />
        </div>
      </div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Cédula</th>
            <th scope="col">Nombre</th>
            <th scope="col">Cargo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of (employees$ | async); index as i;">
            <th scope="row">{{ i }}</th>
            <td><ngb-highlight [result]="employee.idNumber + ''" [term]="employeeService.searchTerm" /></td>
            <td><ngb-highlight [result]="employee.name" [term]="employeeService.searchTerm" /></td>
            <td><ngb-highlight [result]="employee.position.name" [term]="employeeService.searchTerm" /></td>
          </tr>
        </tbody>
      </table>

      <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="employeeService.page"
          [pageSize]="employeeService.pageSize" [maxSize]="5">
        </ngb-pagination>

        <select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="employeeService.pageSize">
          <option [ngValue]="2">2 items per page</option>
          <option [ngValue]="4">4 items per page</option>
          <option [ngValue]="6">6 items per page</option>
        </select>
      </div>
    </form>
  </div>
</div>